@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
  font-family: "Poppins", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 10%);
  color: white;
}

a {
  text-decoration: none;
}

.hero {
  height: 80vh;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: hsl(0, 0%, 10%);
  position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    box-shadow: 2px 0 5px hsl(0, 0%, 5%);
}

nav button {
  margin-bottom: 15px;
}

.logo {
  color: white;
  font-size: 40px;
}

span {
  color: turquoise;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: turquoise;
  transition: 0.4s ease;
}

button {
  border: none;
  background-color: turquoise;
  padding: 12px 30px;
  border-radius: 30px;
  transition: 0.4s ease-in-out;
}

button a {
  color: hsl(0, 0%, 10%);
  font-weight: bold;
  font-size: 15px;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.heroo {
  margin-left: 15%;
  margin-top: 25%;
}

.heroo h1 {
  font-size: 50px;
  padding-bottom: 20px;
  padding-top: 5px;
}

.heroo h2 {
  padding-bottom: 25px;
}

.image {
  position: absolute;
  right: 100px;
  bottom: 0;
  left: 58%;
  top: 230px;
  transition: 0.4s ease;
}

.image:hover {
  transform: scale(1.1); 
  cursor: pointer;
}

.heroo button {
  margin-right: 20px;
}

h1 span {
  color: turquoise;
}

.hero2 {
  height: 95vh;
  background-color:hsl(0, 0%, 12%);
 /*  display: flex;
  align-items: center;
  justify-content: center; */
}

.heroo2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.heroo22 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 75%;
  height: 75vh;
}

.hero2 h2 {
  color: turquoise;
  margin-left: 50px;
  margin-bottom: 15px;
}

.about {
  border: 1px solid hsl(0, 0%, 70%);
  height: 400px;
  width: 350px;
  padding-left: 30px;
  padding-top: 80px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: hsl(0, 0%, 11%);
}

.resume-button {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.resume-button button {
  font-weight: bold;
  background-color: turquoise;
}

.services {
  height: 110vh;
  background-color: hsl(0, 0%, 10%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-container {
  height: 80vh;
  width: 65%;
  background-color: hsl(0, 0%, 9%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 15px;
  padding-top: 100px;
}

.sevice-heading {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  color: turquoise;
}

.service-content1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-left: 70px;
}

.service-content2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;

}

.skills {
  width: 300px;
}

.skills h3 {
  color: turquoise;
}